body {
    height: 100 vh;
    font-family:Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#1F2937;
    color: white;
    margin: 0;
    padding: 8px;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: 96px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 96px;
}

.container-one .heading {
    font-size: 48px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.container-one {
    background-color:#1F2937;
    display: flex;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.container-two {
    text-align: center;
    padding-bottom: 48px;
}

.container-two .heading {
    font-size: 36px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding: 32px;
}

.container-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
}

.content {
    font-size: 18px;
    font-weight: normal;
}

.container-one .text {
    margin-left: 96px;
}

img {
    height: auto;
    width: 500px;
    margin-right: 96px;
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
    border: solid 4px #3882f6;
}

.info {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.pod {
    max-width: 100px;
}

.info-two {
    max-width: 600px;
}

.info-two .attribution {
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}

.quote {
    font-size: 24px;
    font-style: italic;
    font-weight: lighter;
}

.banner {
    width: 600px;
    height: auto;
    background-color:#3882f6;
    border-radius: 4px;
    display: flex;
}