body {
    height: 100 vh;
    font-family:Roboto, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#1F2937;
    color: white;
    margin: 0;
    padding: 8px;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    margin-right: 96px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    margin-left: 96px;
}

.container-one {
    background-color:antiquewhite;
    display: flex;
}

.heading {
    font-size: 48px;
    font-weight: bolder;
}

.content {
    font-size: 18px;
    font-weight: normal;
}

.text {
    margin-left: 96px;
}

img {
    height: auto;
    width: 500px;
    margin-right: 96px;
}